<div>
  <% @students.each do |student| %>
    <h1><%= link_to student.to_s, student_path(student) %></h1>
  <% end %>
</div>

<%= form_tag new_student_path, :method => :get do %>
  <%= submit_tag "Create New Student" %>
<% end %>
